# --------------------------------
# Miscellaneous
# --------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# --------------------------------
# IntelliJ / Android Studio
# --------------------------------
*.iml
*.ipr
*.iws
.idea/

# --------------------------------
# VS Code
# --------------------------------
# Keep if you want settings in GitHub, else uncomment:
#.vscode/

# --------------------------------
# Flutter / Dart / Pub
# --------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Environment files
.env
.env.*  # optional, ignore any environment variants

# --------------------------------
# iOS
# --------------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# --------------------------------
# Android
# --------------------------------
android/.gradle/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release
android/captures/

# Gradle build output
android/build/

# --------------------------------
# Reports
# --------------------------------
/android/build/reports/

# --------------------------------
# Windows
# --------------------------------
windows/runner/Debug/
windows/runner/Release/
windows/.vs/

# --------------------------------
# Linux
# --------------------------------
linux/runner/Debug/
linux/runner/Release/

# --------------------------------
# macOS
# --------------------------------
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/build/

# --------------------------------
# Symbolication / Obfuscation
# --------------------------------
app.*.symbols
app.*.map.json
